@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {font-family: "Poppins", sans-serif;
  margin: 2px 150px 0 150px;position: relative;}
.nav {
  border-radius: 10px;padding: 0px;overflow: hidden;background-color: transparent;
  margin: 0px;text-align: center;width: auto;height: auto;}
.top p {margin: 0 0 0 0;font-size: 12px;}
#htop {margin: 0 0 0 0;}
li {padding-top: 1px;}
a {text-decoration: none;color: blue;}
.nav .top .p {font-size: 12px;}
b {font-size: 28px;}
.pd {margin-bottom: 0;}
.dw {font-size: 10px;color: grey;margin: 0 0 0 0;}
div.def {position: fixed;width: 100%;top: 50%;transition: opacity 250ms;
}
